::-moz-selection {
	background-color: #0066CC;
	color: #FFFFFF;
}

::selection {
	background-color: #0066CC;
	color: #FFFFFF;
}

a {
	color: #0066CC;
}

a:hover {
	color: #0066CC;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	color: #0066CC;
}

h5 {
	font-weight: 600;
}

h5 i {
    color: #616161;
}

#alert-bar {
	background-color: #0066CC;
	color: #FFFFFF;
	padding: 15px;
	text-align: center;
}

#alert-bar a {
	color: #FFFFFF;
	text-decoration: underline;
}

#alert-bar a:hover {
	text-decoration: none;
}

#row-1 {
	padding-top: 30px;
}